{% extends 'baseBotoes.html' %}

{% load static %}

{% block titulo %} Enviar-Foto {% endblock %}


{% block conteudo %}

<div class="container ">
  <div class="row justify-content-center">
    <div class="col-md-6  border border-warning rounded p-3">
      <h2>Enviar nova foto</h2>

      <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        <label class="'form-label ">Titulo</label>
        {{ form.titulo }}

        <label class="form-label ">Foto</label>
        {{ form.imagem }}

    
        <div class="row p-3">
          <button type="submit" class="btn btn-lg btn-success">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}