{% extends 'base.html' %}

{% load static %}

{% block titulo %} Cadastro {% endblock %}

{% block conteudo %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Bem vindo {{ username }}</h1>
  <div class="col-md-1 text-start d-grid gap-2">
    <a href="{% url 'userLogout' %}">
      <button id="btnEntrar" type="button" class="btn btn-lg btn-warning">Sair</button>
    </a>
  
  </div>
</body>
</html>

{% endblock %}
