{% extends 'baseBotoes.html' %}

{% load static %}

{% block titulo %} Galeria {% endblock %}

{% block conteudo %}

<h2 class="text-light text-center bg-success p-1">Imagens de Upload</h2>
<div class="row row-cols-1 row-cols-md-5 p-2  rounded">

    {% if imagens %}
    {% for imagem in imagens %}

    <div class="col my-5">
        <div class="card h-70" style="width: 100%; max-width: 350px;">
            <img src="/media/{{imagem.imagem}}" class="card-img-top custom-image" alt="upload">
            <div class="card-body d-flex flex-column">
                <h4 class="card-title">{{ imagem.titulo }}</h4>
            </div>
        </div>
    </div>

    {% endfor %}
    {% endif %}

</div>

<h2 class="text-light text-center bg-success p-1">Imagens de Perfil</h2>
<div class="row row-cols-1 row-cols-md-5 p-2  rounded">

    {% if fotos %}
    {% for foto in fotos %}

    <div class="col my-5">
        <div class="card h-70" style="width: 100%; max-width: 350px;">
            <img src="/media/{{foto.foto}}" class="card-img-top custom-image" alt="foto">
        </div>
    </div>

    {% endfor %}
    {% endif %}

</div>

<h2 class="text-light text-center bg-success p-1">Imagens de Capas</h2>
<div class="row row-cols-1 row-cols-md-5 p-2  rounded">

    {% if capas %}
    {% for capa in capas %}

    <div class="col my-5">
        <div class="card h-70" style="width: 100%; max-width: 350px;">
            <img src="/media/{{capa.capa}}" class="card-img-top custom-image" alt="capa">
        </div>
    </div>

    {% endfor %}
    {% endif %}

</div>



{% endblock %}